# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Go
*.exe
nginx_log_analyse

# IDE
.idea/
.vscode/
*.swp

# System
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# AI
.specstory/
.cursorindexingignore